#menu {
  margin: 0;
  margin-top: 20px;
  list-style: none;

}
#menu li {
  display: inline;
  margin-right: 15px;
  padding-left: 0;

}
a {
  color: #fafafa;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  border-bottom: 1px solid #fafafa;

}
#user {
  float: right;
  margin-right: 10%;

}
#user:hover {

  border-bottom: 1px solid #dc4955;
  color: #dc4955;
}

#about:hover {
  border-bottom: 1px solid #4e7aa1;
  color: #4e7aa1;
}
#contacts:hover {
  border-bottom: 1px solid #F8BF4C;
  color: #F8BF4C;
}
.selectedcontacts a {
  border-bottom: 1px solid #F8BF4C;
  color: #F8BF4C;
}
