<!--
<div>
    <ul id="menu" >
      <li
        *ngIf="sessionUser==='guest'"
        routerLink="/contacts">
        <a id="contacts">Контакты</a></li>
      <li
        *ngIf="sessionUser==='guest'"
        routerLink="/about">
        <a id="about">О тестировании</a></li>
      <li *ngIf="sessionUser==='guest'"
          routerLink="/form">
        <a id="form">Login</a></li>

    </ul>
</div>

-->

<div id="header" >
  <ul id="menu">
    <li
    *ngFor="let item of items"

    ><a  id="{{item.routeTo}}" routerLink="/{{item.routeTo}}" routerLinkActive="active">{{item.name}}</a></li>
  </ul>
</div>
<!--
 &lt;!&ndash; <li *ngFor="let item of items">
          &lt;!&ndash;[class.selected]="item === selectedItem"
        (click)="onSelect(item)">&ndash;&gt;
        <a id="{{item}}" routerLink="/{{item}}">{{item}}</a>
      </li>&ndash;&gt;
-->
